{% extends 'base.html.twig' %}

{% block title %}
  Inscrivez-vous à notre Newsletter
{% endblock %}

{% block body %}
  <h1>Formulaire d'inscription à la Newsletter</h1>

  <form action="/newsletter/register" method="post">
    <div>
      <label for="email">Adresse mail :</label>
      <input type="email" name="email" id="email" />
    </div>

    <div>
      <input type="submit" value="S'inscrire" />
    </div>
  </form>
{% endblock %}
